* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    }

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p, li {
    font-family: 'Roboto Condensed', sans-serif;
}

/*HEADER*/

.header {
    background-color: #232529;
}

.header-container {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 17px;
}

.header-container p {
    color: white;
    margin-right: 180px;
}

.social {
    margin-top: 5px;
    margin-bottom: 5px;
}

.social a:not(:last-child) {
    margin-right: 30px;
}

.social img:hover {
    transform: translatey(-3px);
}

.social img {
    transition: transform 0.4s ease;
}

.logo img {
    height: 80px;
}

.navheader ul {
    display: flex;
}

.navheader li {
    color: white;
}

.navheader a:not(:last-child) {
    margin-right: 30px;
}

.navheader ul a {
    position: relative;
}

.navheader ul a:hover::before {
    transform: scalex(1);
    transition: 0.5s;
}

.navheader ul a::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0; bottom: -5px;
    transform: scalex(0);
    transform-origin: left;
}

.header-container a img {
    width: 40px;
}

.navheader a {

}

/*CONTENT*/
/*SECTION1*/

.content-conainer {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.content-conainer h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
}

.content-conainer h1 span {
    color: #816be4;
}

.section-one {
    border-radius: 40px;
    margin-bottom: 40px;
    background-color: #F1F3F6;
    -webkit-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
}

.discription-section-one {
    display: flex;
}

.discription-section-one p {
    padding: 20px;
    font-size: 23px;
}

.discription-section-one p span {
    font-weight: 900;
}

.discription-section-one img {
    width: 420px;
    border-radius: 0 0 40px 0;
}

/* SECTION2 */

.section-two h1 {
    text-align: center;
    margin-bottom: 40px ;
}

.section-two img {
    width: 50px;
    height: 50px;
}

.problems-text-ico {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.problems-text-ico img {
    
}

.cont-section2 {
    display: flex;
}

.cont img {
    margin-left: 120px;
    margin-bottom: 10px;
}

.cont {
    border-radius: 20px;
    padding: 30px;
    width: 374px;
    margin-bottom: 40px;
    background-color: #F1F3F6;
    -webkit-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
}


.cont1 {
    margin-right: 40px;
}

.cont2 {
    margin-right: 40px;
}

.cont3 {

}

/* SECTION3 */

.feedback {
    background-color: #161C28;
    width: 100%;
    height: 400px;
    margin-bottom: 150px;
}

.feedback-content {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.feedback-content h1 {
    color: #54BD95;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 40px;
}

.feedback-content P {
    color: #A6A6A6;
    text-align: center  ;
}

/*BUTTON*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #54BD95;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #215440; }

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#54BD95    ;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#215440; }

/*SECTION4*/

.sectionfour {
    width: 955px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-height: 368px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.info-section-four {
    display: flex;
    flex-direction: column;
}

.ico-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ico-text img {
    width: 70px;
    margin-left: 130px;
    margin-bottom: 20px;
}

.info-section-four h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.list-four {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-four p {
    margin-left: 20px;
    font-size: 20px;
}

.list-four img {
    width: 30px;
}

.list-section-four {

}


.info-section-four ul {

}

.img-section-four img {
    width: 300px;
    border-radius: 40px;
}

/*SECTIONFIVE*/

.section-five {
    background-color: rgb(184, 184, 184);
    border-radius: 40px;
    width: 1440px;
    height: 541px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: flex;
    background-color: #F1F3F6;
    -webkit-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
}

.leftcont {
    width: 644px;
    margin: 50px;
    margin-top: 100px;
}

.leftcont h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.leftcont p {
    color: #A6A6A6;
    font-size: 23px;
}

.rightcont {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
    margin-left: 150px;
}

.rightcont p {
    color: #A6A6A6;
}

.rightcont img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.analis {
    display: flex;
}

.easy {
    display: flex;
}

.anonim {
    display: flex;
}

/*SECTION6*/
.section-six {
    width: 1400px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.feedback-clients {
    margin-right: 50px;
    height: 380px;
    font-size: 19px;
    border-radius: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.feedback-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.feedback-cont img {
    width: 60px;
}

.feedback-cont p {
    margin-left: 20px;
    margin-top: 18px;
    font-weight: 900;
}

.client-discription {
    color: #A6A6A6;
    text-align: center;
}

/*SECTION7*/

.section-seven {
    width: 100%;
    max-height: 1000px;
    background-color: #161C28;
    padding: 50px;
    
}

.cont-section-seven {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.left-cont-section-seven {
    width: 500px;
}

.cont-section-seven h1 {
    color: white;
    margin-bottom: 25px;
    font-size: 40px;
}

.cont-section-seven p {
    color: #A6A6A6;
}

.right-cont-section-seven {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    justify-content: center;
}

.right-cont-section-seven li {
    color: white;
}
.right-cont-section-seven img {
    width: 30px;
}

.list-of-section-seven p {
    margin-left: 10px;
}

.list-of-section-seven {
    display: flex;
    align-items:center;
    margin-bottom: 10px;
}
