* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.main {
    
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p, li {
    font-family: 'Roboto Condensed', sans-serif;
}



/*HEADER*/
.header-container {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 80px;
    border-bottom: 1px solid rgba(99, 99, 99, 0.459);
    font-size: 18px;
    font-weight: 600;
}

.logo {
    width: 200px;
    height: 80px;
}

.logo img {
    height: 100%;
}

.infoheader  {

}

.navheader {
    
}

.navheader ul {
    display: flex;
}

.navheader li {
    color: black;
}

.navheader a:not(:last-child) {
    margin-right: 30px;
}

.navheader a {
    border: 1px solid #685C79;
    border-radius: 40px;
    padding: 8px;
}

.color {
    background-color: #565656;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

/*CONTENT*/

.content {

}

.content-conainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.content-conainer {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.section-one {
    background-color: #e4e4e6;
    font-size: 25px;
    border-radius: 40px;
    margin-bottom: 40px;
    -webkit-box-shadow: 14px 16px 50px 24px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 16px 50px 24px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 16px 50px 24px rgba(34, 60, 80, 0.2);
}

.info-section-one {
    text-align: center;
}

.discription-section-one {
    display: flex;
}

.discription-section-one p {
    font-weight: 500;
    padding: 20px;
}

.discription-section-one img {
    width: 420px;
    border-radius: 0 0 40px 0;
}

/* SECTION2 */

.section-two {

}

.section-two h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px ;
}

.cont-section2 {
    display: flex;
}

.cont {
    border-bottom: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
    width: 374px;
    margin-bottom: 40px;
    box-shadow: 0px 8px 19px -1px rgba(0, 0, 0, 0.12);
}


.cont1 {
    margin-right: 20px;
}

.cont2 {
    margin-right: 20px;
}

.cont3 {

}

/* SECTION3 */

.feedback {
    background-color: #161C28;
    width: 100%;
    height: 400px;
    margin-bottom: 150px;
}

.feedback-content {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    margin-bottom: 20px;
}

.feedback-content h1 {
    color: #54BD95;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 40px;
}

.feedback-content P {
    color: #A6A6A6;
    text-align: center  ;
}

/*BUTTON*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #54BD95;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #215440; }

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#54BD95    ;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#215440; }

/*SECTION4*/
.sectionfour {
    width: 955px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-height: 368px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.info-section-four {
    display: flex;
    flex-direction: column;
}

.info-section-four h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

.list-section-four {

}


.info-section-four ul {

}

.info-section-four ul li {
    font-size: 18px;
}

.img-section-four img {
    width: 300px;
    border-radius: 40px;
}

/*SECTIONFIVE*/
.section-five {
    background-color: rgb(184, 184, 184);
    border-radius: 40px;
    width: 1440px;
    height: 541px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    display: flex;
    background-color: #F1F3F6;
    -webkit-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
    box-shadow: 30px 31px 59px 5px rgba(34, 60, 80, 0.25);
}

.leftcont {
    width: 644px;
    margin: 50px;
    margin-top: 100px;
}

.leftcont h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.leftcont p {
    color: #A6A6A6;
    font-size: 15px;
}

.rightcont {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
    margin-left: 150px;
}


.rightcont h1 {
    font-size: 35px;
}

.rightcont p {
    color: #A6A6A6;
}

.rightcont img {
    width: 50px;
    height: 50px;
}

.analis {
    display: flex;
}

.easy {
    display: flex;
}

.anonim {
    display: flex;
}

/*SECTION6*/

.section-six {
    width: 100%;
    max-height: 1000px;
    background-color: #161C28;
    padding: 50px;
}

.cont-section-six {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.left-cont-section-six {
    width: 500px;
}

.cont-section-six h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 25px;
}

.cont-section-six p {
    color: #A6A6A6;
}

.right-cont-section-six {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.right-cont-section-six li {
    color: white;
}
.right-cont-section-six img {
    width: 30px;
}

.list-of-section-six p {
    margin-left: 10px;
}

.list-of-section-six {
    display: flex;
    align-items:center;
    margin-bottom: 10px;
}
