* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

span {
    color: #E32636;
    
}

h1 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    border: none;
    font-size: 50px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
 
.btn p {
    font-size:40px;
}

.btn-4 {
    background: #35922c;
    color: #fff;
}
  
.btn-4:hover {
    background: rgb(52, 109, 52);
}
  
.btn-4:active {
    background: rgb(52, 109, 52);
    top: 2px;
}

.ico {
    margin-left: -50px;
    margin-right: 50px;
}
/* HEADER */

/* HERO */
.section-hero {
    background-color: #082567;
    color: white;
}

.section-hero h1 {
    font-size: 50px;
}

.hero-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-cont img {
    height: 500px;
}
/* HERO */

/* DISCRIPTION */
.section-discription {
    background-color: #E32636;
}

.section-discription h1 {
    margin-bottom: 20px;
}
.cont-discription {
    display: flex;
    color: white;
    align-items: center;
    padding: 20px;
}

.cont-discription img {
    margin-left: -100px;
    margin-right: 40px;
}
/* DISCRIPTION */

/* SECTION-INFO */
.section-info {
    background-color: rgb(22, 22, 22);
}

.cont-info {
    display: flex;
    color: white;
    text-align: center;
}

.cont-info img {
    height: 70px;
}

.info-card:not(:last-child) {
    margin-right: 30px;
}
/* SECTION-INFO */

@media screen and (max-width: 1450px) {
    .container {
        flex-direction: column;
        width: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .hero-cont {
        width: 3750px;
    }
}

@media screen and (max-width: 470px) {
    .hero-cont {
        width: 300px;
    }
    .hero-cont h1 {
        font-size: 20px;
        text-align: center;
    }
    .hero-cont img, .cont-discription img {
        height: 200px;  
    }
    .cont-discription {
        width: 300px;
        padding: 0px;
        align-items:baseline;
    }
    .cont-discription h1, p {
        font-size: 20px;
        text-align: center;
    }
    .cont-info {
        width: 300px;
    }
    .header {
        width: 325px;
        text-align: center;
    }
}


